<div class="modal-header">
	<button type="button" class="close" data-ng-click="Close()" aria-hidden="true">×</button>
	<h3 class="modal-title">
		<span>{{IsEdit?'Edit Task':'Add New Task'}}</span>
	</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Case</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="Task.Case">
			</div>
			<label class="col-sm-2 control-label">Resource</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="Task.TypeId">
					<option value="">All</option>
					<option value="1">Sienna Miller ($50)</option>
					<option value="2">Christian Bale ($55)</option>
					<option value="3">Mark Wahlberg ($60)</option>
					<option value="4">Anne Hathaway ($58)</option>
					<option value="5">Jerry Maguire ($65)</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Task Title</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="Task.TaskTitle">
			</div>

			<label class="col-sm-2 control-label">Type</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="Task.TypeId"
						data-ng-options="type.Id as type.Name for type in CaseLookups.TaskTypes">
					<option value="">All</option>
				</select>
			</div>

		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Priority</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="Task.PriorityId"
						data-ng-options="priority.Id as priority.Name for priority in CaseLookups.Priorities">
					<option value="">All</option>
				</select>
			</div>

			<label class="col-sm-2 control-label">Status</label>
			<div class="col-sm-4">
				<select class="form-control" data-ng-model="Task.StatusId"
						data-ng-options="status.Id as status.Name for status in CaseLookups.TaskStatus">
					<option value="">All</option>
				</select>
			</div>

		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Due Date</label>
			<div class="col-sm-4">
				<p class="input-group" ng-init="DueDateOpened=false">
					<input type="text" class="form-control" data-uib-datepicker-popup data-show-button-bar="false" ng-model="Task.DueDate" ng-click="DueDateOpened=true" data-is-open="DueDateOpened" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="DueDateOpened=true"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<label class="col-sm-2 control-label">Effort (Est.)</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="Case.EstimatedEffort">
					<span class="input-group-addon"><i class="fa fa-clock-o"></i> hrs</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Describtion</label>
			<div class="col-sm-10">
				<textarea rows="3" class="form-control" ng-model="Task.TaskTitle"></textarea>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-default" data-ng-click="Close()"><i class="fa fa-close"></i>&nbsp;Close</button>
	<button class="btn btn-primary" data-ng-click="Save()">Save</button>
</div>