<div class="row animated fadeIn">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Search Criteria</h5>
				<div data-ibox-tools></div>
			</div>

			<div class="ibox-content" style="display: none;">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<label class="col-sm-1 control-label">Case Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="Filter.CaseId">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Title</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="Filter.TaskTitle">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Resource</label>
							<div class="col-sm-8">
								<select class="form-control" data-ng-model="Filter.TypeId">
									<option value="">All</option>
									<option value="1">Sienna Miller ($50)</option>
									<option value="2">Christian Bale ($55 $)</option>
									<option value="3">Mark Wahlberg ($60)</option>
									<option value="4">Anne Hathaway ($58)</option>
									<option value="5">Jerry Maguire ($65)</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Priority</label>
							<div class="col-sm-8">
								<select class="form-control" data-ng-model="Filter.PriorityId"
										data-ng-options="priority.Id as priority.Name for priority in TaskLookups.Priorities">
									<option value="">All</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Status</label>
							<div class="col-sm-8">
								<select class="form-control" data-ng-model="Filter.StatusId"
										data-ng-options="status.Id as status.Name for status in TaskLookups.TaskStatus">
									<option value="">All</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Due Date</label>
							<div class="col-sm-8">
								<p class="input-group" ng-init="DueDateOpened=false">
									<input type="text" class="form-control" data-uib-datepicker-popup data-show-button-bar="false" ng-model="Filter.DueDateFrom" ng-click="DueDateOpened=true" data-is-open="DueDateOpened" />
									<span class="input-group-addon" ng-init="DueDateToOpened=false">:</span>
									<input type="text" class="form-control" data-uib-datepicker-popup data-show-button-bar="false" ng-model="Filter.DueDateTo" ng-click="DueDateToOpened=true" data-is-open="DueDateToOpened" />
								</p>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="col-sm-2 control-label">Type</label>
							<div class="col-sm-8">
								<select class="form-control" data-ng-model="Filter.TypeId"
										data-ng-options="type.Id as type.Name for type in TaskLookups.TaskTypes">
									<option value="">All</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="ibox-footer clearfix">
				<div class="pull-right">
					<button type="button" class="btn btn-w-m btn-default" ng-click="Reset()">Reset</button>
					<button type="button" class="btn btn-w-m btn-primary">Search</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Round criminals
		</p>
	</div>
	<div class="col-md-10" style=" position: inherit;">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">

			<div class="message">
				<a class="message-author" href="javascript:;"> Michael Smith </a>
				<span class="message-date"> September 26 2016, 3:48:46 PM </span>
				<span class="margin5-bottom message-content">
					I got all of them delivered to the main police station
				</span>
				<div class="label label-info"> All </div>
			</div>
		</div>
	</div>
</div>

<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Find evidence
		</p>
	</div>
	<div class="col-md-10" style=" position: inherit;">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">
			<div class="message">
				<a class="message-author" href="javascript:;"> John Josief </a>
				<span class="message-date"> September 23 2016, 1:21:46 PM </span>
				<span class="margin5-bottom message-content">
					Grerat
				</span>
				<div class="label label-info"> All </div>
			</div>
		</div>
	</div>

</div>

<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Round criminals
		</p>
	</div>
	<div class="col-md-10">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">

			<div class="message">
				<a class="message-author" href="javascript:;"> Michael Smith </a>
				<span class="message-date"> September 22 2016, 5:34:11 PM </span>
				<span class="margin5-bottom message-content">
					I got all of them delivered to the main police station
				</span>
				<div class="label label-info margin5-right"> Mark Wahlberg </div>
				<div class="label label-info"> Anne Hathaway </div>
			</div>
		</div>
	</div>
</div>

<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Find evidence
		</p>
	</div>
	<div class="col-md-10">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">
			<div class="message">
				<a class="message-author" href="javascript:;"> John Josief </a>
				<span class="message-date"> September 12 2016, 1:21:46 PM </span>
				<span class="margin5-bottom message-content">
					Grerat
				</span>
				<div class="label label-info"> All </div>
			</div>
		</div>
	</div>

</div>


<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Round criminals
		</p>
	</div>
	<div class="col-md-10">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">

			<div class="message">
				<a class="message-author" href="javascript:;"> Michael Smith </a>
				<span class="message-date"> September 11 2016, 3:48:46 PM </span>
				<span class="margin5-bottom message-content">
					I got all of them delivered to the main police station
				</span>
				<div class="label label-info margin5-right"> Mark Wahlberg </div>
				<div class="label label-info"> Anne Hathaway </div>
			</div>
		</div>
	</div>
</div>

<div class="message-view">
	<div class="col-md-2" ng-click="EditTask(true)" style="cursor: pointer;border-right: 1px dashed #999; position: inherit;">
		<p>
			<strong>case: </strong>Case1
		</p>
		<p>
			<strong>Task: </strong>Find evidence
		</p>
	</div>
	<div class="col-md-10">
		<div class="chat-message left">
			<img class="message-avatar" src="Assets//img/Profile.png" alt="">
			<div class="message">
				<a class="message-author" href="javascript:;"> Michael Smith </a>
				<span class="message-date"> September 9 2016, 8:21:46 PM </span>
				<span class="margin5-bottom message-content">
					Grerat
				</span>
				<div class="label label-info"> All </div>
			</div>
		</div>
	</div>
</div>